/*FUENTES PRIVADAS*/

/*
@import url("//hello.myfonts.net/count/393ec8");
@font-face {
    font-family: 'Rockness';
    src:    url('../fonts/393EC8_0_0.eot');
    src:    url('../fonts/393EC8_0_0.eot?#iefix') format('embedded-opentype'),
            url('../fonts/393EC8_0_0.woff2') format('woff2'),
            url('../fonts/393EC8_0_0.woff') format('woff'),
            url('../fonts/393EC8_0_0.ttf') format('truetype');
}

@import url("//hello.myfonts.net/count/393ecc"); 
@font-face {
    font-family: 'Recoleta-SemiBold';
    src:    url('../fonts/393ECC_0_0.eot');
    src:    url('../fonts/393ECC_0_0.eot?#iefix') format('embedded-opentype'),
            url('../fonts/393ECC_0_0.woff2') format('woff2'),
            url('../fonts/393ECC_0_0.woff') format('woff'),
            url('../fonts/393ECC_0_0.ttf') format('truetype');
}

@font-face {
    font-family: 'Questrial';
    src:    url('../fonts/Questrial-Regular.ttf') format('truetype');
}
*/