/* Variables generales
--------------------------------------------- */
//base font size
$base-font-size:16px;

/* Importación de librerias
--------------------------------------------- */

/* Variables locales
--------------------------------------------- */

// Queries
$sm: "(min-width: 768px)";
$md: "(min-width: 992px)";
$lg: "(min-width: 1200px)";
$xl: "(min-width: 1600px)";
// Fuentes
$questrial: 'Questrial';

//colores
$black: #000000;
$white: #ffffff;

