section.componente
    .container
        .row
            .col-1.col-xs-1.col-sm-1.col-md-1.col-lg-1.col-xl-1.col-xxl-1
                p a
            .col-1.col-xs-1.col-sm-1.col-md-1.col-lg-1.col-xl-1.col-xxl-1
                p a
            .col-1.col-xs-1.col-sm-1.col-md-1.col-lg-1.col-xl-1.col-xxl-1
                p a
            .col-1.col-xs-1.col-sm-1.col-md-1.col-lg-1.col-xl-1.col-xxl-1
                p a
            .col-1.col-xs-1.col-sm-1.col-md-1.col-lg-1.col-xl-1.col-xxl-1
                p a
            .col-1.col-xs-1.col-sm-1.col-md-1.col-lg-1.col-xl-1.col-xxl-1
                p a
            .col-1.col-xs-1.col-sm-1.col-md-1.col-lg-1.col-xl-1.col-xxl-1
                p a
            .col-1.col-xs-1.col-sm-1.col-md-1.col-lg-1.col-xl-1.col-xxl-1
                p a
            .col-1.col-xs-1.col-sm-1.col-md-1.col-lg-1.col-xl-1.col-xxl-1
                p a
            .col-1.col-xs-1.col-sm-1.col-md-1.col-lg-1.col-xl-1.col-xxl-1
                p a
            .col-1.col-xs-1.col-sm-1.col-md-1.col-lg-1.col-xl-1.col-xxl-1
                p a
            .col-1.col-xs-1.col-sm-1.col-md-1.col-lg-1.col-xl-1.col-xxl-1
                img(src="images/design.jpg", alt="")