doctype
html(lang="es")
    head
        title= htmlWebpackPlugin.options.title
    body
        block header

        main(role="main")
            block content

        include partials/footer.pug
