/* CSS Document */

/*!
name: website
author: Jonathan Martinez
URL: https://jommartinez.com
*/

/* General */
@import "base/fonts";
@import "base/vars";
// Override bootstrap variables
@import "bootstrap/functions";
@import "bootstrap/mixins";
@import "base/variables";
// Bootstrap Framework.
@import "bootstrap/bootstrap";
@import "base/reset";
@import "base/mixins";
@import "base/global";

/****************** Partials ******************/
@import "partials/header";
@import "partials/footer";

/****************** Componentes ******************/
@import "components/componente";
